
/* Menu */
#navMenu { display:block; overflow:hidden; height:35px; padding:0 5px; background-repeat:repeat-x;}
#navMenu ul { float:left; display:block; overflow:hidden; position:relative;}
#navMenu li { float:left; margin-left:-1px; background-position:0 -50px; position:relative;}
#navMenu li a { float:left;}
#navMenu li span { float:left; font-weight:bold; cursor:pointer; padding:0 15px;}
#navMenu li a, #navMenu li span { line-height:35px; font-size:14px;}
#navMenu li.selected { z-index:1;}
#navMenu li.selected a, #navMenu li.selected a:hover { text-decoration:none; background-position:100% -150px;}
#navMenu li.selected span { padding:0 8px; background-position:0 -100px;}
